@tailwind base;
@tailwind components;
@tailwind utilities;

h1, h2, h3, h4, h5, h6 {
  @apply font-serif;
}

h1 {
  @apply font-semibold text-3xl mb-8;
}
h2 {
  @apply font-semibold text-2xl mb-4;
}
h3 {
  @apply font-semibold text-xl mb-4;
}
h4 {
  @apply font-semibold text-lg mb-4;
}
@screen lg {
  h1 {
    @apply text-4xl;
  }
  h2 {
    @apply text-3xl;
  }
  h3 {
    @apply text-2xl;
  }
  h4 {
    @apply text-xl;
  }
}

a[target="_blank"]::after {
  mask-image: url(/assets/external-link.svg);
  mask-repeat: no-repeat;
  mask-position: bottom;
  mask-size: 75% auto;
  @apply content-[''] inline-block w-icon h-icon indent-icon overflow-hidden bg-current hover:bg-highlight;
}
a {
  @apply border-b-2 border-highlight whitespace-nowrap;
}
a:hover {
  @apply text-highlight;
}

p, blockquote, ul, ol, iframe {
  @apply mb-4 lg:mb-6 text-base lg:text-lg;
}
blockquote {
  @apply border-dotted border-l-4 border-highlight border-opacity-50 pl-2 lg:pl-4;
}
blockquote p {
  @apply m-0;
}

ul, ol {
  @apply list-outside ml-6 lg:ml-8;
}
ul {
  @apply list-disc;
}
ol {
  @apply list-decimal;
}

hr {
  @apply my-8;
}

code {
  @apply text-sm bg-stone-200 py-1 px-2; 
}
