body.dark-mode {
  .cards-feed {
    .project-card {
      background: linear-gradient(
          135deg,
          lighten($color-dark-background, 10%) 0%,
          $color-dark-background 100%
        )
        center center;
    }
  }
}

.cards-feed {
  display: flex;
  align-items: inherit;
  flex-wrap: wrap;

  .project-card {
    position: relative;
    flex: 1 1 50%;
    display: flex;
    height: 35vw;
    background: linear-gradient(
        135deg,
        $color-light-background 0%,
        darken($color-light-background, 10%) 100%
      )
      center center;
    background-size: cover;
    overflow: hidden;
    counter-increment: posts;
    background-position: center center;

    .project-card-link {
      flex: 1 1 auto;
      display: block;
      border: none;

      .project-card-content {
        flex: 1 1 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0;
        transition: opacity 0.5s cubic-bezier(0.33, 0, 0.2, 1);
        @include themed() {
          color: t("content");
          background-color: t("background");
        }

        &:hover {
          opacity: 0.8;
          transition: opacity 0.3s cubic-bezier(0.33, 0, 0.2, 1);
        }

        .project-card-category {
          position: absolute;
          top: 1rem;
          left: 1rem;
          padding: 0.25rem 0.5rem;
          border: 1px solid;
          @include themed () {
            border-color: t('content');
          }
        }

        .project-card-title {
          margin: 0;
          display: inline-block;
          font-size: 2rem;
          line-height: 1.15em;
          max-width: 70%;
          text-align: center;
          transition: all 0.3s cubic-bezier(0.33, 0, 0.2, 1);
        }
      }
    }

    &.project-card-large {
      flex: 1 1 100%;
      width: 100%;
    }

    &.no-image {
      display: block;

      &::before {
        display: block;
        content: counter(posts);
        position: absolute;
        bottom: 0;
        right: 5vw;
        font-size: 17.5vw;
        line-height: 1em;
        font-weight: var(--font-bold);
        letter-spacing: -0.1em;
        z-index: 99;
        opacity: 0.1;
        @include themed() {
          color: t("content");
        }
      }

      .project-card-content {
        justify-content: flex-start;
        padding: 4vw;
        opacity: 1;
        background: none !important;

        &:hover {
          opacity: 1;
        }

        .project-card-title {
          font-size: 3rem;
          line-height: 1.15em;
          text-align: left;
        }
      }

      &:hover {
        .project-card-title {
          text-decoration: underline;
        }
      }
    }
  }
}

@media (max-width: $breakpoint-medium) {
  .project-card {
    flex: 1 1 100% !important;
    height: 70vw !important;

    &.with-image .project-card-content {
      opacity: 0.8 !important;
    }

    &.no-image::before {
      font-size: 50vw !important;
      bottom: -1.5rem !important;
    }

    .project-card-title {
      font-size: 1.5em !important;
    }
  }
}

@media (max-width: $breakpoint-xlarge) {
  .project-card.no-image .project-card-title {
    font-size: 2rem !important;
  }
}
