---
import Base from '../../layouts/Base.astro';
import Avatar from '../../components/Avatar.astro';
import avatarImage from '../../content/pages/about-zhiyuan/zhiyuan-avatar.jpg';
import About, { frontmatter } from '../../content/pages/about-zhiyuan/index.md';
---

<Base title={frontmatter.title} description="About Zhiyuan - product designer based in the Netherlands">
  <a href="javascript:history.back()" class="border-0 text-xl"><span class="mr-2">←</span>Designs overview</a>

  <Avatar src={avatarImage} />

  <div class="prose">
    <About />
  </div>
</Base>
