$themes: (
  light: (
    content: $color-light-content,
    background: $color-light-background
  ),
  dark: (
    content: $color-dark-content,
    background: $color-dark-background
  )
);

@mixin themed() {
  @each $theme, $map in $themes {
    .#{$theme}-mode & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), "#{$key}");
        $theme-map: map-merge(
          $theme-map,
          (
            $key: $value
          )
        ) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function t($key) {
  @return map-get($theme-map, $key);
}
