/* Colours */
$color-light-content: #292929;
$color-light-background: #f8f8f8;
$color-dark-content: #ececec;
$color-dark-background: #181818;
$color-highlight: #ffcd00;

/* Fonts */
$font-sans-serif: source-sans-pro, sans-serif;
$font-serif: source-serif-pro, serif;
$font-weight-light: 200;
$font-weight-normal: 400;
$font-weight-bold: 600;

/* Breakpoints */
$breakpoint-small: 576px;
$breakpoint-medium: 768px;
$breakpoint-large: 992px;
$breakpoint-xlarge: 1200px;

/* Sizes */
$size-height: 4rem;
$size-margin: 2rem;
$size-radius: 0.5rem;