.post-content {
  max-width: 720px;
  margin: 0 auto;
  padding: 6vw 0;
  font-family: $font-serif;

  .post-header {
    display: flex;
    flex-direction: column;
    align-items: center;

    .post-title {
      position: relative;
      margin: 0 0 3vw;
      text-align: center;
      font-weight: $font-weight-normal;

      sup {
        position: absolute;
        top: 0.5em;
        left: -3.3em;
      }
    }
  }

  .post-body {
    font-size: 1.25rem;
    line-height: 1.66em;

    li {
      word-break: break-word;

      p {
        margin: 0;
      }
    }

    iframe {
      margin: 0 auto !important;
    }

    blockquote {
      font-family: $font-sans-serif;
      margin: 0 0 1.5em;
      padding: 0 1.5em;
      border-left: 3px solid;
      @include themed() {
        border-left-color: t("content");
      }

      p {
        margin: 0;

        &:nth-child(even) {
          margin-bottom: 1.5rem;
        }
      }
    }

    .custom-block {
      margin: 3vw 0;

      &.width-avatar {
        position: relative;
        width: 25vw;
        margin-left: calc(50% - 50vw);
        margin-right: calc(50% - 50vw);
        transform: translateX(calc(50vw - 50%));
        margin-top: 3vw;
        margin-bottom: 3vw;

        img {
          border-radius: 100%;
        }
      }

      &.width-wide {
        position: relative;
        width: 75vw;
        min-width: 100%;
        margin-left: calc(50% - 50vw);
        margin-right: calc(50% - 50vw);
        transform: translateX(calc(50vw - 50%));
      }

      &.width-full {
        position: relative;
        width: 94vw;
        min-width: 100%;
        margin-left: calc(50% - 50vw);
        margin-right: calc(50% - 50vw);
        transform: translateX(calc(50vw - 50%));
      }

      // Fix paragraph auto added before h6
      p {
        margin-bottom: 0.5rem;
      }

      h6 {
        text-align: center;
        font-family: $font-sans-serif;
        opacity: 0.35;
      }
    }
  }
}

@media (max-width: $breakpoint-medium) {
  .post-content {
    .post-header {
      .post-title {
        font-size: 1.65em !important;
        margin: 1em 0;

        sup {
          position: relative;
          top: -0.55em;
          left: -0.25em;
        }
      }
    }
    .post-body {
      font-size: 1rem !important;
    }
  }
}
