---
import { Image } from 'astro:assets';

interface Props {
  src: ImageMetadata;
  alt?: string;
  credit?: string;
  website?: boolean;
}

const { src, alt = '', credit, website = false } = Astro.props;
---

<div class:list={["my-4 lg:my-6 bg-stone-200", { "shadow-image": website }]}>
  {website && (
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1920 25" fill-rule="evenodd">
      <path fill="#e3e1e2" d="M0 0h1920v25H0z"/>
      <path d="M59 12.499c0 3.589-2.912 6.499-6.501 6.499S46 16.088 46 12.499 48.912 6 52.499 6 59 8.91 59 12.499" fill-opacity=".8" fill="#28ca41"/>
      <path d="M40 12.499c0 3.589-2.912 6.499-6.501 6.499S27 16.088 27 12.499 29.912 6 33.499 6 40 8.91 40 12.499" fill-opacity=".8" fill="#ffbd2f"/>
      <path d="M21 12.499c0 3.589-2.912 6.499-6.501 6.499S8 16.088 8 12.499 10.912 6 14.499 6 21 8.91 21 12.499" fill-opacity=".8" fill="#ff554f"/>
    </svg>
  )}
  <Image 
    src={src} 
    alt={alt}
    widths={[832, 1664]}
    sizes="(min-width: 1024px) 832px, calc(100vw - 32px)"
    loading="lazy"
    decoding="async"
  />
  {credit && (
    <figcaption class="font-serif italic text-sm opacity-50 text-center mt-1">{credit}</figcaption>
  )}
</div>
