/* Variables
/* ---------------------------------------------------------- */

@import url("https://use.typekit.net/awx3ruy.css");

:root {
    /* Colours */
    --color-highlight: #ffcd00;
    --color-primary-light: #131313;
    --color-primary-dark: #ececec;
    --color-bg-light: #f8f8f8;
    --color-bg-dark: #181818;

    /* Fonts */
    --font-sans-serif: source-sans-pro, sans-serif;
    --font-serif: source-serif-pro, serif;
    --font-light: 300;
    --font-normal: 400;
    --font-bold: 600;

    /* Breakpoints */
    --xlarge: 1680px;
    --large: 1280px;
    --medium: 980px;
    --small: 740px;

    /* Sizes */
    --height: 4rem;
    --margin: 2rem;
    --radius: 0.5rem;
}
